.document-view-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    place-content: center;
    font-size: 50px;
}

.document-view-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.document-view-container::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 25px;
}

.document-view-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.document-element-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    border: 4px solid var(--root-color);
    pointer-events: none;
}

.document-element-handler.hidden {
    display: none;
}

.element-handler {
    position: absolute;
    width: 15px;
    aspect-ratio: 1/1;
    background-color: var(--root-color);
    border-radius: 9999px;
    cursor: pointer;
}

.element-handler.top {
    top: 0;
    left: 50%;
    translate: -50% -65%;
}

.element-handler.right {
    right: 0;
    top: 50%;
    translate: 65% -50%;
}

.element-handler.bottom {
    bottom: 0;
    left: 50%;
    translate: -50% 65%;
}

.element-handler.left {
    top: 50%;
    left: 0;
    translate: -65% -50%;
}
