.document-view-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: grid;
    place-content: center;
    font-size: 50px;
}

.document-view-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
}

.document-view-container::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 25px;
}

.document-view-container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.document-element-handler {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    border: 2px solid var(--root-color);
    pointer-events: none;
}

.document-element-handler.hidden {
    display: none;
}

.element-handler {
    pointer-events: auto;
    position: absolute;
    width: 12px;
    aspect-ratio: 1/1;
    background-color: var(--root-color);
    border-radius: 9999px;
}

.element-handler.right {
    cursor: e-resize;
    top: 50%;
    right: 0;
    translate: calc(50% + 1px) -50%;
}

.element-handler.bottom {
    cursor: n-resize;
    bottom: 0;
    left: 50%;
    translate: -50% calc(50% + 1px);
}
