.start-panel__method-button {
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    max-width: 200px;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: inherit;
    background-color: var(--main-button-background);
    transition:
        border 0.5s ease-in-out,
        color 0.5s ease-in-out,
        translate 180ms ease-in-out;
}

.start-panel__method-button:hover {
    color: var(--root-color) !important;
    border-color: var(--root-color) !important;
    translate: 0px -5px;
}

.start-panel__method-button > svg {
    font-size: 3rem;
}

.start-panel__method-button.primary {
    position: relative;
    overflow: hidden;
    max-width: 250px !important;
    border-color: rgb(0, 124, 124);
}

.start-panel__method-button.primary > svg {
    font-size: 3.8rem !important;
}

.start-panel__method-button.primary::after {
    content: "";
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: rgb(0, 124, 124);
    rotate: 45deg;
    transition: background 0.5s ease-in-out;
}

.start-panel__method-button.primary:hover::after {
    background-color: var(--root-color);
}

.start-panel__method-button.secondary {
    transform: translateY(10px);
}

.start-panel__method-button-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.start-panel__method-button-desc {
    font-size: 0.825rem;
    color: var(--secondary-foreground-color);
}

@media screen and (max-width: 770px) {
    .start-panel__method-button.primary {
        order: -1;
        grid-column: 1 / span 2;
    }
}
